{% extends "Base.html" %}
{% block main %} 
<body class="yui3-skin-sam">
<div id="menu-1" class="yui3-menu  yui3-menu-horizontal"><!-- Root menu bounding box -->
    <div class="yui3-menu-content"><!-- Root menu content box -->
        <ul>
            <li class="yui3-menuitem"><!-- Menuitem bounding box -->
                <a class="yui3-menuitem-content" href="http://www.yahoo.com"><!-- Menuitem content box -->
                Yahoo!
                </a>
            </li>
            <li>
                <a class="yui3-menu-label" href="#pim">PIM</a><!-- Submenu label -->
                <div id="pim" class="yui3-menu"><!-- Submenu bounding box -->
                    <div class="yui3-menu-content"><!-- Submenu content box -->
                        <ul>
                            <li class="yui3-menuitem">
                                <a class="yui3-menuitem-content" href="http://mail.yahoo.com">Yahoo! Mail</a>
                            </li>
                            <li class="yui3-menuitem">
                                <a class="yui3-menuitem-content" href="http://addressbook.yahoo.com">Yahoo! Address Book</a>
                            </li>
                            <li class="yui3-menuitem">
                                <a class="yui3-menuitem-content" href="http://calendar.yahoo.com">Yahoo! Calendar</a>
                            </li>
                            <li class="yui3-menuitem">
                                <a class="yui3-menuitem-content" href="http://notepad.yahoo.com">Yahoo! Notepad</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
	//    Call the "use" method, passing in "node-menunav".  This will load the
//    script and CSS for the MenuNav Node Plugin and all of the required
//    dependencies.

YUI().use("node-menunav", function(Y) {

    //    Use the "contentready" event to initialize the menu when the subtree of
    //    element representing the root menu (<div id="menu-1">) is ready to
    //    be scripted.

    Y.on("contentready", function () {

        //    The scope of the callback will be a Node instance representing
        //    the root menu (<div id="menu-1">).  Therefore, since "this"
        //    represents a Node instance, it is possible to just call "this.plug"
        //    passing in a reference to the MenuNav Node Plugin.

        this.plug(Y.Plugin.NodeMenuNav);

    }, "#menu-1");

});
</script>
</body>
{% end %}
{% block moreHeader %}
{% end %}